<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hschoi1104.lab05.dao.BoardDAO">
    <insert id="newBoard" parameterType="com.hschoi1104.lab05.dto.BoardDTO" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO lab04(`title`, `contents`, `author`, `password`)
        VALUES (#{title}, #{contents}, #{author}, #{password})
    </insert>

    <select id="getBoard" parameterType="com.hschoi1104.lab05.dto.BoardDTO"
            resultType="com.hschoi1104.lab05.dto.BoardDTO">
        SELECT `seq`, `title`, `contents`, `author`, `reads`
        FROM lab04
        WHERE `seq` = #{seq}
        <if test="password != null">
            AND `password` = #{password}
        </if>
        AND `deleted` = 'N'
    </select>
    <update id="editBoard" parameterType="com.hschoi1104.lab05.dto.BoardDTO">
        UPDATE lab04
        SET `password` = `password`
        <if test="title != null">
            , `title` = #{title}
        </if>
        <if test="contents != null">
            , `contents` = #{contents}
        </if>
        <if test="author != null">
            , `author` = #{author}
        </if>
        <if test="deleted != null">
            , `deleted` = #{deleted}
        </if>
        WHERE `seq` = #{seq}
    </update>
    <update id = "addBoardReadCount" parameterType="com.hschoi1104.lab05.dto.BoardDTO">
        UPDATE lab04
        SET `reads` = `reads`+1
        WHERE `seq` = #{seq}
        AND `deleted`='N'
    </update>
</mapper>